@import "../sass/breakpoints.scss";

.homeContainer {
    display: grid;
    position: fixed;
    overflow-y: scroll;
    bottom: 0px;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: lightskyblue;
    padding-bottom: 0px; 
    @include media ('>911px') {
        top: 144px;
    }
    @include media('<=911px', '>461px') {
        top: 254px;
    }   
    @include media('<=461px', '>311px') {
        top: 364px;
    } 
    @include media('<=311px') {
        top: 675px;
    }    
    .homeComponents {
        padding: 15px;
        display: grid;
        grid-gap: 1rem;
        @include media ('>911px') {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
        @include media('<=911px', '>461px') {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }   
        @include media('<=461px', '>311px') {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        } 
        @include media('<=311px') {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }  
    }
  }