.mediaHome {
  margin: 1.25%;
  padding: 1%;

  div.headerInfo {
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: lightgray;
    padding: 1%;
    h1.mediaHeader {
      text-align: center;
    }
  }
  div.favoriteFive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin: 0.75%;
    padding: 1.25%;

    div.mediaFavoriteFiveSingle {
      display: grid;
      grid-template-rows: 0.25fr 1fr;
      justify-content: center;
      img {
        border: solid;
        border-radius: 3.5px;
        border-width: 0.75px;
        height: auto;
        border-color: lightgray;
        width: 150px;
      }
      p {
        font-size: 8px;
        text-align: center;
        padding: 1%;
      }
    }
  }
}