.mediaHome {
  margin: 1.25%;
  padding: 1%;

  div.headerInfo {
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: lightgray;
    padding: 1%;
    h1.mediaHeader {
      text-align: center;
    }
  }
  div.favoriteFive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    padding: 1%;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: lightgray;

    div.mediaFavoriteFiveSingle {
      display: grid;
      img {
        margin-left: auto;
        margin-right: auto;
        border: solid;
        border-radius: 3.5px;
        border-width: 0.75px;
        border-color: lightgray;
        height: 125px;
        width: auto;
      }
      p {
        font-size: 8px;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}