.mediaFavoriteFive {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    margin: 0.75%;
    padding: 1.25%;
  }
  
  .mediaFavoriteFiveSingle {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr
  
  }
  
  .mediaFavoriteFiveSingle img {
    border: solid;
    border-radius: 3.5px;
    border-width: 0.75px;
    height: auto;
    border-color: lightgray;
    width: 150px;
  }
  
  .mediaFavoriteFiveSingle h1 {
    text-align: center;
  }
  
  .mediaFavoriteFiveSingle h5 {
    padding: 1%;
  }

  .mediaHome {
    margin: 1.25%;
    padding: 1%;
  }
  
  .mediaHome div {
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: lightgray;
    padding: 1%;
  }

  .mediaHeader {
    text-align: center;
  }