.aboutMeParagraph {
    padding: 15px;
    display: grid;
    justify-items: center;

    div {
        width: 275px;
        padding: 15px 0px;
        margin: 15px 0px;
        border: solid;
        background-color: #31312E;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);

        p {
            padding: 15px;
            color: white;
        }

        img {
            display: block;
            margin: auto;
            width: 260px;
            height: auto;
            border-radius: 5px;
            @media (min-width: 600px) {
                width: 450px;
                height: auto;
            }
            @media (min-width: 800px) {
                width: 600px;
                height: auto;
            }
            @media (min-width: 1000px) {
                width: 800px;
                height: auto;
            }
        }
        @media (min-width: 600px) {
            width: 500px;
        }
        @media (min-width: 800px) {
            width: 700px;
        }
        @media (min-width: 1000px) {
            width: 900px;
        }
    }   

    .contactMe {
        h1 {
            text-align: center;
            color: #FFDD83;
        }

        ul {
            display: grid;
            text-align: center;

            a {
                padding: 15px;
                color: white;
            }

            a:hover {
                color: #FFDD83;
            }
        }
    }
}


.favoriteMedia {
    width: 275px;
    padding: 15px 0px;
    margin: 15px 0px;
    border: solid;
    background-color: #31312E;
    margin: auto;
    
    .favoriteMediaHeader {
        text-align: center;
        color: white;
    }

    .homeFavoriteSix {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        grid-gap: 1rem;
        margin: auto;
        width: 300px;
        color: white;
        img {
            height: 181px;
            width: 131px;
        }
        .homeFavoriteMedia {
            display: grid;
            padding: 10px;
            margin: auto;
            p {
                font-size: 10px;
                text-align: center;
                margin: 0px;
            }
        }      
        .homeFavoriteMediaHover {
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            opacity: 0.5;
            p {
                font-size: 10px;
                text-align: center;
                margin: 0px;
            }
        }
        @media (min-width: 600px) {
            width: 450px;
        }
        @media (min-width: 800px) {
            width: 650px;
        }
        @media (min-width: 1000px) {
            width: 850px;
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        }
    }
    @media (min-width: 600px) {
        width: 500px;
    }
    @media (min-width: 800px) {
        width: 700px;
    }
    @media (min-width: 1000px) {
        width: 900px;
    }
}

