.mediaPicture img {
    height: auto;
    width: 150px;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 3.5px;
  }

.mediaReviewCard {
    margin: 1.25%;
    padding: 10px 0px;
  }
  
.mediaReviewCard div {
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: lightgray;
    background-color: dimgray;
    color: lightgray;
    padding: 15px;
    margin: 0.5px;
  }