.mediaPicture img {
    height: auto;
    width: 150px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: thin;
    border-radius: 3.5px;
  }

.mediaReviewCard {
    margin: 1.25%;
    background: white;
    .mediaReviewCardHeader {
      background: lightcoral;
      text-align: center;
      border: solid;
      border-width: thin;
      padding: 5px;
    }
    .pictureAndDate {
      padding: 15px;
    }
  }
.goodHeader {
  h5 {
    background: lightgreen;
    text-align: center;
    border: solid;
    border-width: thin;
    padding: 5px;
  }
  p {
    padding: 15px;
  }
}

.betterHeader {
  h5 {
    background: lightyellow;
    text-align: center;
    border: solid;
    border-width: thin;
    padding: 5px;
  }
  p {
    padding: 15px;
  }
}