.mediaPicture img {
    height: auto;
    width: 150px;
    border-style: solid;
    border-width: thin;
  }

.mediaReviewCard {
    margin: 1.25%;
    background: white;
    .mediaReviewCardHeader {
      background: lightcoral;
      text-align: center;
      border: solid;
      border-width: thin;
      padding: 5px;
    }
    .pictureAndDate {
      padding: 15px;
      border-left: solid;
      border-right: solid;
      border-width: thin;
    }

    .goodHeader {
      background: lightgreen;
      text-align: center;
      border: solid;
      border-width: thin;
      padding: 5px;
      margin: 0px;
    } 
    .betterHeader {
      background: lightyellow;
      text-align: center;
      border-right: solid;
      border-left: solid;
      border-top: solid;
      border-width: thin;
      padding: 5px;
      margin: 0px;
    }
    .goodContent {
      border-right: solid;
      border-left: solid;
      border-width: thin;
      padding: 15px;
      margin: 0px;
    }
    .betterContent {
      border: solid;
      border-width: thin;
      padding: 15px;
      margin: 0px;
    }
  }