div.topNavbar {
    @media (max-width: 1032px) {
        font-size: 8px;
        height: 61px;
        display: grid;
        grid-template-columns: repeat(4, 25%)
    }
    position: fixed;
    width: 100%;
    border: solid;
    border-color: rgb(163, 155, 155);
    border-radius: 6px;
    border-width: thin;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    justify-content: space-evenly;
    background-color: dimgrey;

    a {
        @media (max-width: 1032px) {
            padding: 1px;
            margin: 1px;
        }
      padding: 5px;
      margin: 5px;
    }
    
    .navbarButton {
    border-radius: 5px;
    border-color: lightgray;
    background-color: dimgray;
    color: lightgray;
    text-align: center;
    width: 100%;
    margin: 5px;
    }
    .navbarButton:hover {
    border-radius: 5px;
    border-color: dimgray;
    background-color: lightgray;
    color: black;
    width: 100%;
    }
    
    .navbarButton.albums:hover {
    border-radius: 5px;
    border-color: darkred;
    background-color: red;
    color: white;
    width: 100%;
    }
    
    .navbarButton.boardgames:hover {
    border-radius: 5px;
    border-color: darkblue;
    background-color: blue;
    color: white;
    width: 100%;
    }
    
    .navbarButton.books:hover {
    border-radius: 5px;
    border-color: darkgoldenrod;
    background-color: yellow;
    color: black;
    width: 100%;
    }
    
    .navbarButton.movies:hover {
    border-radius: 5px;
    border-color: darkorange;
    background-color: orange;
    color: white;
    width: 100%;
    }
    
    .navbarButton.television:hover {
    border-radius: 5px;
    border-color: darkgreen;
    background-color: green;
    color: white;
    width: 100%;
    }
    
    .navbarButton.videogames:hover {
    border-radius: 5px;
    border-color: darkviolet;
    background-color: purple;
    color: white;
    width: 100%;
    }
}




