@import "../../sass/breakpoints.scss";

div.navBarHome {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: lightskyblue;
    background-color: white;
    @include media ('>911px') {
        height: 145px;
    }
    @include media('<=911px', '>461px') {
        height: 255px;
    }   
    @include media('<=461px', '>311px') {
        height: 365px;
    }
    @include media('<=311px') {
        height: 675px;
    }  
    .navBarHeader {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        p {
            margin: 0px;
        }
    }   
    div.navBarMediaIcons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: space-evenly;
        justify-items: center;
        div.mediaLink {
            text-align: center;
            border: solid;
            border-color: lightskyblue;
            border-width: thin;
            width: 145px;
            height: 80px;
            padding: 15px;
            margin: 15px;
            .mediaIcon {
                @include media('<=311px') {
                    display: none;
                }  
            }
            p {
                margin: 0px;
            }   
        }        
    }
}