@import "../../sass/breakpoints.scss";

div.mediaContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    color:#080808;
    background-color: #FFFFFF;
    padding-bottom: 0px; 
    min-height: 100vh;
    margin-top: 60px;

    div.mediaContent {
        border: solid;
        border-color: white;
        border-radius: 6px;
        border-width: thin;
    }
  }
