div.mediaSidebar {
    position: fixed;
    overflow-y: scroll;
    width: 20%;
    top: 61px;
    bottom: 0px;
    border: solid;
    border-color: lightskyblue;
    border-radius: 6px;
    border-width: thin;
    color: #f8f8f8;
    padding: 1.5%;
    background-color: lightsteelblue;

    div.mediaSearch {
      display: grid;
      align-items: center;

      .mediaSearchBox {
        width: 100%;
        height: auto;
        padding: 1%;
      }
    }
    div.mediaTitles {
      @media (max-width: 1032px) {
        font-size: 6px;
        padding: 1%;
    }
        font-size: 12px;
        padding: 1%;
      }
      
    div.mediaTitles button {
        border-radius: 5px;
        border-width: 1px;
        border-color: darkblue;
        border-style: solid;
        background-color: lightskyblue;
        color: black;
        text-align: left;
        width: 100%;

        div.monthDay {
          @media (max-width: 1032px) {
            font-size: 6px;
        }
          font-size: 8px;
        }
      }

    .Albums:hover {
      border-radius: 5px;
      border-color: darkred;
      background-color: red;
      color: white;
      text-align: left;
      width: 100%;
    }

    .Board.Games:hover {
      border-radius: 5px;
      border-color: darkblue;
      background-color: blue;
      color: white;
      text-align: left;
      width: 100%;
    }
    
    .Books:hover {
      border-radius: 5px;
      border-color: darkgoldenrod;
      background-color: yellow;
      color: black;
      text-align: left;
      width: 100%;
    }
    
    .Movies:hover {
      border-radius: 5px;
      border-color: darkorange;
      background-color: orange;
      color: white;
      text-align: left;
      width: 100%;
    }
    
    .TV.Shows:hover {
      border-radius: 5px;
      border-color: darkgreen;
      background-color: green;
      color: white;
      text-align: left;
      width: 100%;
    }
    
    .Video.Games:hover {
      border-radius: 5px;
      border-color: darkviolet;
      background-color: purple;
      color: white;
      text-align: left;
      width: 100%;
    }

  }  