@import "../../sass/breakpoints.scss";

div.mediaSidebar {
    position: fixed;
    overflow-y: scroll;
    width: 20%;
    bottom: 0px;
    border: solid;
    border-color: lightskyblue;
    border-radius: 6px;
    border-width: thin;
    color: #f8f8f8;
    padding: 1.5%;
    background-color: white;
    @include media ('>612px') {
      top: 144px;
    }
    @include media('<=612px', '>311px') {
        top: 254px;
    }   
    @include media('<=311px') {
        top: 314px;
    }  

    div.mediaSearch {
      display: grid;
      align-items: center;

      .mediaSearchBox {
        width: 100%;
        height: auto;
        padding: 1%;
        border-style: solid;
        border-width: thin;
        border-radius: 0px;
      }
    }
    div.mediaTitles {
      padding: 1%;
      @include media ('>911px') {
        font-size: 75%;
      }
      @include media('<=911px', '>461px') {
        font-size: 56.25%;
      }   
      @include media('<=461px', '>311px') {
        font-size: 50%;
      } 
      @include media('<=311px') {
        font-size: 40%;
      } 
  
    }
      
    div.mediaTitles button {
        border-width: 1px;
        border-color: black;
        border-style: solid;
        background-color: white;
        color: black;
        text-align: left;
        width: 100%;
      }

    .Albums:hover {
      color:red;
    }

    .Board.Games:hover {
      color:blue;
    }
    
    .Books:hover {
      color: #CCCC00;
    }
    
    .Movies:hover {
      color: orange;
    }
    
    .TV.Shows:hover {
      color: green;
    }
    
    .Video.Games:hover {
      color: purple;
    }

  }  