.movieReviewCard {
  border-style: solid;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 25px;
  padding: 12px;
  background-color: lightsalmon
}

.movieReviewCard:nth-child(even) {
  background-color: lightgoldenrodyellow
}

.movieReviewCard img {
  width: 75%;
  height: auto;
}

.movieReviewContainer {
  display: grid;
}

.movieForm {
  border-style: solid;
  margin: 25px;
  padding: 12 px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 25%);
}