* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  background-color: #FFFFFF	;
}

::placeholder {
  color:#080808;
  background-color: #FFFFFF	;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color:#080808;
}

a:hover {
  color: black;
}

body {
  background-color: #FFFFFF	;
}

input {
  color:#080808;
  background-color: #FFFFFF	;
  width: 85%;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
  color:#080808;
  background-color: #FFFFFF	;
  width: 85%;
  height: 300px;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  font-size: 14px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutMe {
  padding: 5%;
}

.aboutMe h1 {
  text-align: center;
}

.btn-album {
  background-color: lightblue;
  color:black;
  border-color: lightblue;
}
 
.btn-album:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: lightskyblue;
  color: black;
  border-color: lightskyblue;
}

.btn-boardgame {
  background-color: #ffcccb;
  color:black;
  border-color: #ffcccb;
}
   
.btn-boardgame:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: salmon;
  color: black;
  border-color: salmon;
}

.btn-book {
  background-color: lightgoldenrodyellow;
  color:black;
  border-color: lightgoldenrodyellow;
}
   
.btn-book:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: goldenrod;
  color: black;
  border-color: goldenrod;
}

.btn-movie {
  background-color: #90EE90;
  color:black;
  border-color: #90EE90;
}
   
.btn-movie:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #8FBC8F;
  color: black;
  border-color: #8FBC8F;
}

.btn-tv {
  background-color: #fed8b1;
  color:black;
  border-color: #fed8b1;
}

.btn-tv:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #fdad5c;
  color:black;
  border-color: #fdad5c;
}
   
.btn-videogame {
  background-color: #b19cd9;
  color:black;
  border-color: #b19cd9;
}

.btn-videogame:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #a28ad2;
  color:black;
  border-color: #a28ad2;
} 

.contact {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3,33%);
}

.contact img {
  width: 25%;
  border: solid;
  border-color: lightgrey;
  border-radius: 15px;
  border-width: thin;
  background-color:  #f8f8f8;
}

.contact p {
  text-align: center;
}

.contact img:hover {
  opacity: .5;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer nav button {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: dimgray;
  color: white;
}

.formsContainer {
  padding: 10%;
}

.formsSidebar {
  top: 58px; 
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.homeContainer {
  display: grid;
  color:#080808;
  background-color: #FFFFFF;
  padding-bottom: 10px; 
  padding-top: 58px;
}

.homeFavoriteMedia {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.homeFavoriteMedia p {
  text-align: center
}

.homeFavoriteMediaHover {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  opacity: 0.5;
  border-color: black;
}

.homeFavoriteMediaHover p {
  text-align: center
}

.homeFavoriteSix {
  display: grid; 
  grid-template-columns: repeat(3,33%);
}

.homeFavoriteSix img {
  height: 362px;
  width: 262px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 35px;
}

.homeHeader {
  text-align: center;
}

.mediaContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  color:#080808;
  background-color: #FFFFFF;
  padding-bottom: 0px; 
  padding-top: 49px;
  min-height: 100vh;
}

.mediaFavoriteFive {
  display: grid;
  grid-template-rows: repeat(5, 20%);
  margin: 0.75%;
  padding: 1.25%;
}

.mediaFavoriteFiveSingle {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr

}

.mediaFavoriteFiveSingle img {
  border: solid;
  border-radius: 3.5px;
  border-width: 0.75px;
  height: auto;
  border-color: lightgray;
  width: 150px;
}

.mediaFavoriteFiveSingle h1 {
  text-align: center;
}

.mediaFavoriteFiveSingle h5 {
  padding: 1%;
}

.mediaForm {
  border-style: solid;
  border-radius: 5%;
  border-width: thin;
  margin: 0.75%;
  padding: 1.25%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 50%);
}

.mediaHeader {
  text-align: center;
}

.mediaHome {
  margin: 1.25%;
  padding: 1%;
}

.mediaHome div {
  border: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: lightgray;
  padding: 1%;
}

.mediaPicture img {
  height: auto;
  width: 150px;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  border-radius: 3.5px;
}

.mediaReviewCard {
  margin: 1.25%;
  padding: 1%;
}

.mediaReviewCard div {
  border: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: lightgray;
  padding: 15px;
  margin: 0.5px;
}

.mediaContent {
  height: 100vh;
}

.mediaReviewList {
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: black;
  color:#080808;
  background-color: #FFFFFF	;
  padding: 0.25%;
  margin: 0.03125% 1.5%;
}

.mediaSearch {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1%
}

.mediaSidebar {
  position: fixed;
  overflow-y: scroll;
  width: 20%;
  top: 49px;
  bottom: 0px;
  border: solid;
  border-color: rgb(163, 155, 155);
  border-radius: 6px;
  border-width: thin;
  color: #f8f8f8;
  padding: 1.5%;
  background-color: dimgrey;
}

.mediaTitles {
  font-size: 12px;
  padding: 1%;
}

.mediaTitles button {
  border-radius: 2px;
  border-color: darkgray;
  background-color: lightgray;
  text-align: left;
  width: 100%;
}

.monthDay {
  font-size: 8px;
}

.nameAndPhoto {
  display: grid;
  padding: 2.5% 4.5%;
  grid-template-columns: repeat(2, 50%);
}

.nameAndPhoto div {
  background-color: #f8f8f8;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
  border-radius: 3px;
  border-style: thin;
  border-color: #f8f8f8;
}

.nameAndPhoto img {
  width: 75%;
  border: solid;
  border-radius: 35px;
  border-style: thin;
  border-color: #f8f8f8;
}

.topNavbar {
  position: fixed;
  width: 100%;
  padding-top: 5px;
  border: solid;
  border-color: rgb(163, 155, 155);
  border-radius: 6px;
  border-width: thin;
  display: grid;
  grid-template-columns: 14% 14% 14% 16% 14% 14% 14%;
  background-color: dimgrey;
}

.topNavbar a {
  text-align: center;
}