
.movieReviews {
  border-style: solid;
  display: grid;
  margin: 10px;
}

.movieReviews img {
  width: 50%;
  height: auto;
}

.movieReviewsTop {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.movieReviewsPosterRatingNotes {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}