.toggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    .buttonLine {
        width: 30px;
        height: 2px;
        background-color: white;
    }
}

.toggleButton:focus {
    outline: none;
}